zsh/*
!.zshrc
!manjaro*
# all the plugins and their git repos are ignored
# except the _READMD.md
# 1 except the plugins folder
!zsh/plugins
# now ignore plugins folder contents
zsh/plugins/*
# but for the .md file
!zsh/plugins/UPDATING_PLUGIN_README.md
# git needs you to open and close each directory down 
# if you want to exclude certain files


vim/*
!.vimrc
# all the packages and their git repos are ignored


kitty/*
!kitty.conf
!kitty-themes
!theme.conf

!*.txt
# !*.md
