# vim swap
*.swp

zsh/*
# 2024.06
!.*rc
!manjaro*
# all the plugins and their git repos are ignored
# except the _READMD.md
# 1 except the plugins folder
!zsh/plugins
# now ignore plugins folder contents
zsh/plugins/*
# but for the .md file
!zsh/plugins/UPDATING_PLUGIN_README.md
# git needs you to open and close each directory down 
# if you want to exclude certain files


vim/*
!.vimrc
# 2024.03
!vim/sources
!vim/sources/*
# all the packages and their git repos are ignored


kitty/*
# 2024.06
kitty/kitty-themes/*
!kitty/kitty.conf
!kitty/theme.conf
!kitty/kitty-tree.txt

!*.txt
# !*.md
